* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-top: 3rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.Menu,
.Quiz,
.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu input,
button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding-inline: 10px;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 242);
}

.nextQuestion {
  width: 200px;
}

h3 {
  color: #fff;
  text-transform: uppercase;
}

.answerSelected {
  background-color: rgb(0, 255, 242);
}
